.btn-play {
    display: block;
    background: url(/assets/images/media/btn-play-2x.png) 50% no-repeat;
    background-size: cover;
    width: 1em;
    height: 1em;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 4;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.btn-play:hover {
    opacity: .85
}

.banner .btn-play:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2)
}