h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: white;
}

button {
    color: white;
}

span {
    color: white;
}

p.caption {
    color: black;
    margin: 3px 0px;
    font-size: 12px
}


#filter-box {
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

@media (max-width:768px) {
    .hidden-sm-down {
        display: none!important
    }
}

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.sidebar {
    position: absolute;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}
